.artists-container {
  display: grid;
  grid-template-rows: 12rem;
  width: 100%;
  overflow-x: auto;
}

.explore-content .genre-wrapper {
  padding: 1rem;
  background-color: var(--black-2);
  border-radius: var(--radius-2);
}

.explore-content .genre-wrapper .genre {
  position: relative;
}
.explore-content .genre-wrapper .genre {
  color: white;
}
.explore-content .genre-wrapper .genre::after {
  content: "";
  background-color: var(--primary);
  opacity: 0.25;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.explore-content {
  display: grid;
  overflow-y: auto;
  background-color: var(--black-2);
  border-radius: var(--radius-2);
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 640px) {
  .explore-content {
    padding-bottom: 7rem;
  }
}
.artists {
  /* padding: 1rem; */
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--black-2);
  border-radius: var(--radius-2);
}
.artists-container {
  padding: 0;
}
.artists-container .artist {
  grid-row: 1;
  width: 10rem;
  background-color: var(--black-3);
  border-radius: var(--radius-2);
  align-items: center;
  justify-content: center;
  position: relative;
  transition: var(--transition);
}

.artists-container .artist:first-child {
  margin-left: 1rem;
}

.artists-container .artist:last-child {
  margin-right: 1rem;
}

/* .artists-container .artist:hover {
  background-color: var(--black-2);
} */

.artists-container .artist img {
  width: 9rem;
  height: 9rem;
  border-radius: var(--radius);
  object-fit: cover;
  position: relative;
}

.artists-container .artist .artist-img {
  position: relative;
  display: flex;
}
.artists-container .artist .artist-img:after {
  content: "";
  position: absolute;
  background-color: var(--primary);
  width: 9rem;
  height: 9rem;
  top: 0rem;
  left: 0rem;
  border-radius: var(--radius);
  opacity: 0.25;
}

.trending {
  background-color: var(--black-2);
  border-radius: var(--radius-2);
  padding: 1rem;
}

@media screen and (max-width: 640px) {
  .artists-container .artist {
    width: 11rem;
  }

  .artists-container {
    grid-template-rows: 13rem;
  }
  .artists-container .artist img,
  .artists-container .artist .artist-img:after {
    width: 10rem;
    height: 10rem;
  }
}

.top-chart a:nth-child(1) {
  background-color: var(--black-2);
  top: 0rem;
  z-index: 1;
}

.top-chart {
  grid-column: 1;
  position: relative;
  grid-template-columns: 1fr;
  overflow-y: auto;
  height: fit-content;
  padding: 1rem;
  background-color: var(--black-2);
  border-radius: var(--radius-2);
}

/* .top-chart::after {
  position: absolute;
  content: "";
  width: 100%;
  background: linear-gradient(
    182.65deg,
    rgba(31, 48, 71, 0) 15.95%,
    #1f3047 70.92%
  );
  left: 0;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
} */

.top-chart a {
  transition: var(--transition);
}
.top-chart a:hover {
  color: var(--primary);
}

.track-wrapper .track {
  height: 4rem;
  grid-template-columns: 1rem 3.25rem 1fr 2.5rem;
}

/* .home-content .track .optional {
  display: none;
} */

.track-wrapper .track img {
  height: 3.25rem;
  width: 3.25rem;
}

.track-wrapper .track .more img {
  height: 2rem;
  width: unset;
}
