/* .genreWrapper {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  } */
.genreWrapper {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  height: 15rem;
}

/* .genreWrapper a:nth-child(1) span {
  color: var(--off-white);
  background-color: transparent;
} */

.genreWrapper .genre {
  background-color: var(--black);
  height: 100%;
  width: 100%;
  color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
}
