.home-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: var(--radius-2);
  overflow-y: auto;
}

.home-content div {
  width: 100%;
  border-radius: var(--radius-2);
  background-color: var(--black-2);
}

.home-content .featured-wrapper {
  width: 100%;
  aspect-ratio: 9/4;
}
@media screen and (max-width: 1200px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/5;
  }
}
@media screen and (max-width: 1000px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/6;
  }
}

@media screen and (max-width: 950px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/5;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 440px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/7;
  }
}
/* .featured-wrapper {
    grid-column: 1 / span 2;
  } */
.top-chart a:nth-child(1) {
  background-color: var(--black-2);
  top: 0rem;
  z-index: 1;
}

.top-chart {
  grid-column: 1;
  position: relative;
  grid-template-columns: 1fr;
  overflow-y: auto;
  height: fit-content;
  padding: 1rem;
}

.top-chart::after {
  position: absolute;
  content: "";
  width: 100%;
  /* height: 30%; */
  background: linear-gradient(
    182.65deg,
    rgba(31, 48, 71, 0) 15.95%,
    #1f3047 70.92%
  );
  left: 0;
  bottom: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.top-chart a {
  transition: var(--transition);
}
.top-chart a:hover {
  color: var(--primary);
}

.track-wrapper .track {
  height: 4rem;
  grid-template-columns: 1rem 3.25rem 1fr 2.5rem;
}

/* .home-content .track .optional {
  display: none;
} */

.track-wrapper .track img {
  height: 3.25rem;
  width: 3.25rem;
}

.track-wrapper .track .more img {
  height: 2rem;
  width: unset;
}
