.home-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: var(--radius-2);
  overflow-y: auto;
}

.home-content .featured-wrapper {
  width: 100%;
  border-radius: var(--radius-2);
  background-color: var(--black-2);
}

.home-content .featured-wrapper {
  width: 100%;
  aspect-ratio: 9/4;
}
@media screen and (max-width: 1200px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/5;
  }
}
@media screen and (max-width: 1000px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/6;
  }
}

@media screen and (max-width: 950px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/5;
  }
}

@media screen and (max-width: 768px) {
  .home-content {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 440px) {
  .home-content .featured-wrapper {
    aspect-ratio: 9/7;
  }
}
/* .featured-wrapper {
    grid-column: 1 / span 2;
  } */

.home-content .recent {
  padding: 1rem;
  border-radius: var(--radius-2);
  background-color: var(--black-2);
}

.home-content .recent .playlist-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-content .recent .playlist-container .right a,
.home-content .recent .playlist-container .left a {
  background-color: var(--black-3);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  overflow: hidden;
  padding: 0.5rem;
}

.home-content .recent .playlist-container .right a:nth-child(1) {
  height: fit-content;
}

.home-content .recent .playlist-container .left,
.home-content .recent .playlist-container .right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.home-content .recent .playlist-container .left a:nth-child(1) {
  padding: 0;
  justify-content: center;
}

.home-content .recent .playlist-container .right a:nth-child(2) {
  height: 10rem;
}
.home-content .recent .playlist-container .right a:nth-child(1) img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: var(--radius);
}
.home-content .recent .playlist-container .left .week {
  position: absolute;
  left: 1rem;
  width: 10ch;
}
